//Slider images
$slide1ImgUrl: '../img/slider/1920x600-1.webp';
$slide2ImgUrl: '../img/slider/1920x600-2.webp';
$slide3ImgUrl: '../img/slider/1920x600-3.webp';

//Static background image
$static1ImgBg: '../img/hero/3840x1200.webp';
$static1ImgBgMedical: '../img/hero/3840x1200-medical.webp';
$static1ImgBgLaw: '../img/hero/3840x1200-law.webp';

//Parallax background image
$parallaxImgBg: '../img/home-parallax.jpg';
